# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment folders
env/
venv/
.venv/
ENV/

# Local database
db.sqlite3

# Django logs
*.log

# PyInstaller build
build/
dist/
*.spec

# System files
.DS_Store
Thumbs.db

# VS Code and IDE settings
.vscode/
.idea/

# Migrations (optional if you want to keep structure clean)
*/migrations/__pycache__/
*/migrations/*.pyc
